.git
.idea
.vscode
dist
logs
tmp_gstreamer
gstreamer
gstreamer-android
gstreamer-android-dynamic
gstreamer-android-static
android
arm64
armv7
x86
x86_64
USBridge Client.exe
USBridgeClient.bin
USBridge_Client.apk
USBridge_Client.apk.idsig
USBridge_Client_gradle.apk
USBridge_Client_gradle.apk.idsig
USBridge_Client_gstreamer.apk
android_build.log
gstreamer_build.log
gstreamer_static_build.log
