.git
.git_old
.idea
.vscode
.codex-cache
.codex
.gocache
.cache
.build-cache/
**/.DS_Store
untitled
usbridge-client
/patch_*.go
/fix_*.py
/debug_*.py
/replace_*.py
/test_*.sh
__pycache__/
*.pyc
certs
*.key
*.crt
dist
logs
crashes
tmp_gstreamer
gstreamer
gstreamer-android
gstreamer-android-dynamic
gstreamer-android-static
arm64
armv7
x86
x86_64
*.bin
*.exe
*.7z
*.apk
*.xz
*.gz
*.aar
*.lz4
*.tgz
*.dll
*.so
*.dylib
*.cgo1.go
*.test
*.out
*.a
*.java
*.log
!android/app/src/main/java/**/*.java
android-arm64.txt
# temp crosscompile Go files
crosscompile_tmp/
crosscompile_temp/
crosscompile/
build/
build_tmp/
build_temp/

android/jniLibs
android/.gradle
android/local.properties

*.log
cmd/android/FyneApp.toml
old
USBridge Client.exe
USBridgeClient.bin
USBridge_Client.apk
USBridge_Client.apk.idsig
USBridge_Client_gradle.apk
USBridge_Client_gradle.apk.idsig
USBridge_Client_gstreamer.apk
android_build.log
gstreamer_build.log
gstreamer_static_build.log
linux_crosscompile/go_cache/
linux_crosscompile/sdk_cache/
linux_crosscompile/sdk_extract/
linux_crosscompile/linux_crosscompile/
