.git
.git_old
.idea
.vscode
certs
*.key
*.crt
dist
logs
tmp_gstreamer
gstreamer
gstreamer-android
gstreamer-android-dynamic
gstreamer-android-static
android
arm64
armv7
x86
x86_64
*.bin
*.exe
*.apk
*.xz
*.gz
*.lz4
*.tgz
*.log
old
USB Bridge Client.exe
USBBridgeClient.bin
USB_Bridge_Client.apk
USB_Bridge_Client.apk.idsig
USB_Bridge_Client_gradle.apk
USB_Bridge_Client_gradle.apk.idsig
USB_Bridge_Client_gstreamer.apk
android_build.log
gstreamer_build.log
gstreamer_static_build.log
linux_crosscompile/go_cache/
linux_crosscompile/sdk_cache/
linux_crosscompile/sdk_extract/
linux_crosscompile/linux_crosscompile/
